Sync/*
.vscode/*
research/kirschner_ar_model/FD_kernels/*
research/hflm-ds_model/data/*
research/hflm-ds_model/basic_testing/results/plots/*
research/hflm-ds_model/basic_testing/results/raw_estimates/*
research/hflm-ds_model/basic_testing/results/raw_scores/*
research/hflm-ds_model/climate_testing/results/*
research/hflm-ds_model/mapping/index.html
research/hflm-ds_model/mapping/data/*
seasonality_testing/data/ppdorm_data/*
seasonality_testing/data/ppgrow_data/*